table,th,td{
    border: 1px solid red;
}
table{
    width: 100%;
}
th{
    height: 100px;
}
td{
    width: 25%;
    height: 300px;
    padding: 10px;
}
td.content{
    width: 50%;
}
img.ADVT{
    width: 300px;
}