table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 50%;
}
td{
    height: 100px;
}
img{
    width: 100px;
}
img.picture1{
    border-radius: 8px;
}
img.picture3{
    filter: blur(4px);
}
img.picture2{
    float: right;
}